* {
  font-family: 'Montserrat', sans-serif;
}

html {
  background-image: url('https://www.fg-a.com/wallpapers/white-marble-1-2018.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.is-centered {
  margin: 0 auto;
  font-weight: 400;
}

nav.navbar {
  background-color: rgba(255, 255, 255, 0.5);
  .navbar-item {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    &:hover {
      background-color: none;
    }
  }
}

//HOME PAGE
.button {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  background-color: #8b9ab2;
  color: #fff;
  letter-spacing: 3px;
  font-size: 20px;
  line-height: 20px;
  border: none;
}

.img-wrap {
  position: relative;
  &:hover .img-description {
    visibility: visible;
  }
  &:hover .home-img {
    opacity: 0.5;
  }
  .home-img {
    transition: 0.3s ease;
    &:hover {
      transform: scale(1.005);
    }
  }
  .img-description {
    position: absolute;
    visibility: hidden;
    text-align: center;
    font-weight: 600;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

//SHOW PAGE
.photographer {
  text-transform: capitalize;
  font-weight: 600;
}

.fa-star {
  font-size: 20px;
}

.notification {
  height: 0;
  opacity: 0;
  transition: all 1s;
  padding: 0;
  margin: 0;
  border-radius: 0;
  position: absolute;
  z-index: 1;
  &.is-active {
    background-color: #374c6d;
    height: 60px;
    border-radius: 10px;
    opacity: 1;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  }
}
