* {
  font-family: 'Montserrat', sans-serif;
}

html {
  background-image: url('https://www.fg-a.com/wallpapers/white-marble-1-2018.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.is-centered {
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
}

nav.navbar {
  background-color: rgba(255, 255, 255, 0.5);
  height: 50px;
  .navbar-item {
    font-size: 17px;
    height: 50px;
    width: 200px;
    line-height: 50px;
    letter-spacing: 3px;
    &:hover {
      background-color: none;
      color: #9d9d9d;
    }
  }
  #home {
    border-right: 1px solid #4a4a4a;
    padding-left: 115px;
  }
  #favourites {
    padding-left: 20px;
  }
}

//HOME PAGE
.button {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  background-color: #8b9ab2;
  color: #fff;
  letter-spacing: 3px;
  font-size: 20px;
  line-height: 20px;
  border: none;
}

.img-wrap {
  position: relative;
  &:hover .home-img {
    opacity: 0.5;
  }
  &:hover .img-description {
    visibility: visible;
  }
  .home-img {
    transition: 0.3s ease;
    &:hover {
      transform: scale(1.005);
    }
  }
  .img-description {
    position: absolute;
    visibility: hidden;
    text-align: center;
    font-weight: 600;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

//SHOW PAGE
.photographer {
  text-transform: capitalize;
  font-weight: 600;
}

.fa-star {
  font-size: 20px;
  &:active {
    transition: 0.5s ease;
    transform: scale(4);
  }
}
