* {
  font-family: 'Montserrat', sans-serif;
}

html {
  background-image: url('https://www.fg-a.com/wallpapers/white-marble-1-2018.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

nav.navbar {
  background-color: rgba(255, 255, 255, 0.5);
  .navbar-item {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    &:hover {
      background-color: none;
    }
  }
}

//HOME PAGE
.home-image {
  transition: 0.3s ease;
  &:hover {
    transform: scale(1.005);
  }
}

//SHOW PAGE
.photographer {
  text-transform: capitalize;
  font-weight: 600;
}
.fa-star {
  font-size: 20px;
}
